
    <h1>Author</h1>
    <a href="/">Home</a>
    <a href="/author">Author</a>
    <p>
        Esta pagina web fue creda por mi
    </p>
    <img src="../public/images/author.jpg" alt="Foto del autor">

