header, nav {
    /* padding: 5px; */
    text-align: center;
    background: black;
    /* border-radius: 0 0 10px 10px; */
    display: flex;
    flex-flow: row;
    width: 100%;
    font-family: serif  ;
  }

body {
    font-family: Arial;
    background-color: white;
    margin: 0px;
  }

main {
  /* border-radius: 10px 10px 0px 0px ; */
  background-color: white;
  display: table;
}

  footer {
    width: 100%;
    background-color: black;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* bottom: 0;
    position: absolute; */
    display: flex;
    flex-flow: row;

}

/* nav {
  flex: 20%;
} */

h1 {
  margin: 0px;
  /* margin-bottom: 5px; */
  padding: 30px;
  padding-left: 40px;
  background-color:rgba(130, 150, 150, 0.4) ;
  font-family: Arial, Helvetica, sans-serif;
}

/* p {
  margin: 0px;
} */

#pagina1, #pagina2 {
  flex: 20%;
  text-decoration: none;
  color: white;
  align-items: center;
  text-align: center;
  padding: 10px;
  transition: all 0.4s ease;
}
#pagina1:hover,#pagina2:hover {
  background-color: rgba(256, 256, 256, 0.2);
  color: black;
}
#texto_header {
  text-decoration: none;
}
.titulo {
  flex: 60%; 
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align: right;
  transition: all 0.4s ease;
  text-align: center;
}


.titulo:hover {
  background-color: rgba(256, 256, 256, 0.2);
  color: black;
}



#footer_izq {
    flex-basis: 50%;
    margin-left: 5%;
}

#footer_dcha {
    flex-basis: 50%;
    text-align: right;
    text-decoration: none;
    color: white;

}
#footer_dcha, #footer_izq {
    margin: 10px;
    padding: 10px;
}

.texto {
  display: flex;
  flex-flow: row;
  background-color:rgba(130, 150, 150, 0.4) ;
}

#columna_i {
  float: left;
  width: 80%;
  font-size: 20px;
  padding: 20px;
  padding-right: 150px;
  padding-bottom: 0px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.2);
  font-family: serif;
  
}

#columna_d {
  float: left;
  width: 20%;
  margin: 20px;
  padding: 15px;
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  align-items: center;
  background-color: grey;
  border-radius: 12px;

}

.redireccion {
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: white;
  box-shadow: 0 5px 5px 0 #888;
}

.tarjeta_d {
  text-decoration: none;
  color: black;
  border-radius: 25px 25px 10px 10px;
  padding: 10px;
  margin: 20px;
  float: left;
  background-color: rgba(128, 128, 128, 0.2);
  text-align: center;
  justify-content: space-between;
  font-family: 'Times New Roman', Times, serif;
  max-width: 100%;

}
.tarjeta_d img {
  border-radius: 15px;
  text-align: center;
}

.tarjeta_dd {
  text-decoration: none;
  color: black;
  border-radius: 25px 25px 10px 10px;
  padding: 10px;
  margin: 20px;
  float: left;
  text-align: center;
  justify-content: space-between;
  font-family: 'Times New Roman', Times, serif;
  max-width: 100%;

}
.tarjeta_dd img {
  border-radius: 15px;
  text-align: center;
}

#texto_redes {
  font-size: 40px;
  margin-bottom: 5px;
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
}
* {
  box-sizing: border-box;
}

#titulo_red {
  /* background-color: yellow; */
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  padding: 15px;
  padding-left: 25px;
  font-size: 25px;
  box-shadow: 0 0 5px 5px #888;
  max-width: 100%;
}


#inscripcion {
  width: 100%;
  background-color:rgba(130, 150, 150, 0.4) ;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-flow: column;
  /* border-radius: 9px 9px 0px 0px; */
}

#texto_inscr {
  color: Black;
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  float: left;
  width: 40%;
}

#inscr {
  float: left;
  width: 30%;
  background-color: grey;
  padding: 15px;
  border-radius: 9px;
  /* gap: 15px; */
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
form#inscr input[type="text"], form#inscr input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form {
  display: flex;
  flex-flow: column;
  align-items: left ;
}
label {
  margin-bottom: 10px;
  margin-top: 10px;
}

#login {
  margin-top: 10px;
  width: 20%;
  border-radius: 5px;
}

#main_pag1 {
  display: flex;
  justify-content: space-around;
  border-radius: 0px;
  /* padding: 10px; */
}

#columna_izq , #columna_centro, #columna_dcha {
  flex: 1;
  padding: 10px;
  margin: 10px;
  color: black;
  background-color:rgba(128, 128, 128, 0.2) ;
  border-radius: 20px;
  text-align: center;
  display: flex; 
  flex-direction: row; 
  text-decoration: none;
  transition: transform 0.3s ease-out;

}

#columna_izq:hover , #columna_centro:hover,#columna_dcha:hover {
  transform: scale(1.04);
}

.imagenes_pg1 {
  border-radius: 10px;
}
.imagenes_pg2 {
  border-radius: 10px;
}
.texto_pg1 {
  text-align: center;
  margin: 10px;
}
.texto_pg2 {
  text-align: center;
  margin: 10px;
}
.pag2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5px;
  margin: 0px;
  border-radius: 0px;
  }

  .tarjeta {
    grid-row: 1;
  padding: 10px;
  margin: 10px;
  color: black;
  background-color:rgba(128, 128, 128, 0.2) ;
  border-radius: 20px;
  text-align: center;
  display: flex; 
  flex-direction: row; 
  text-decoration: none;
  transition: transform 0.3s ease-out;
  }
.tarjeta:hover {
  transform: scale(1.04);
}

#tarjeta {
  grid-row: 1;
  border: solid 3px black;
  border-radius: 10px;
  text-align: center;

}
#tarjeta img {
  padding: 10px;
  border-radius: 20px;
}

.recetas {
  background-color: white;
  margin: 0px;
  padding: 20px;
}


.titulo_plato {
  color: black;
  margin: 0px;
  padding: 20px;
  text-align: center;
  font-size: 35px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  .texto_plato {
    padding: 15px;
  background-color:rgba(130, 150, 150, 0.7) ;
  margin: 0px;
  }
#texto_arroz, #texto_tarta, #texto_torrijas {
  padding: 15px;
  background-color:rgba(130, 150, 150, 0.7) ;
  }